{% extends "base.html" %}

{% block content1 %}
    <h2>{{ infos.name }}</h2>
    <p>{{ infos.department }}</p>
    <p>{{ infos.school }}</p>
    <p>{{ infos.email }}</p>
    <p>{{ infos.mobile }}</p>

    {% for int in infos.interest %}
    <p>{{int}}</p>
    {% endfor %}

    <p>{{infos.skills.language}}</p>
    <p>{{infos.skills.framework_library}}</p>

    {% for edu in infos.education %}
    <p>{{edu.id}}</p>
    <p>{{edu.name}}</p>
    <p>{{edu.place}}</p>
    <p>{{edu.period}}</p>
    <p>{{edu.note}}</p>
    {% endfor %}

    {% for exp in infos.experience %}
    <p>{{exp.title}}</p>
    <p>{{exp.type}}</p>
    <p>{{exp.period}}</p>
    <p>{{exp.note}}</p>
    {% endfor %}

    {% for achi in infos.achievements %}
    <p>{{achi.title}}</p>
    <p>{{achi.period}}</p>
    <p>{{achi.note}}</p>
    {% endfor %}

{% endblock %}