{% extends "base.html" %}

{% block content %}
    <h1>{{ infos.name }}</h1>
    <div class="line"></div>

    <div class="infos">
        <p>{{ infos.department }}</p>
        <p>{{ infos.school }}</p>
        <p>{{ infos.email }}</p>
        <p>{{ infos.mobile }}</p>
        <p>{{ infos.info }}</p>
    </div>
    <div class="line"></div>

    <div class="interest">
        <h2>Interests</h2>
        {% for int in infos.interest %}
        <p>{{int}}</p>
        {% endfor %}
    </div>
    <div class="line"></div>
    


    <div class="edu">
        <h2>Education</h2>
        {% for edu in infos.education %}
        <p class="bold">{{edu.id}}</p>
        <div class="indent">
            <p>{{edu.name}}</p>
            <p>{{edu.place}}</p>
            <p>{{edu.period}}</p>
            <p>{{edu.note}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="work_exp">
        <h2>Work Experiences</h2>
        {% for exp in infos.work_experience %}
        <p class="bold">{{exp.title}}</p>
        <div class="indent">
            <p>{{exp.type}}</p>
            <p>{{exp.period}}</p>
            {% for note in exp.note %}
                <p>{{note}}</p> 
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="exp">
        <h2>Experiences</h2>
        {% for exp in infos.experience %}
        <p class="bold">{{exp.title}}</p>
        <div class="indent">
            <p>{{exp.type}}</p>
            <p>{{exp.period}}</p>
            <p>{{exp.note}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="line"></div>


    <div class="skills">
        <h2>Skills</h2>
        <p>{{infos.skills.language}}</p>
        <p>{{infos.skills.ml}}</p>
        <p>{{infos.skills.optimization}}</p>
        <p>{{infos.skills.web}}</p>
        <p>{{infos.skills.infrastructure}}</p>
    </div>
    <div class="line"></div>

    <div class="achi">
        <h2>Achievements</h2>
        {% for achi in infos.achievements %}
        <p class="bold">{{achi.title}}</p>
        <div class="indent">
            <p>{{achi.period}}</p>
            <p>{{achi.note}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="line"></div>

{% endblock %}